body {
  background-color: #b6b6b6;
  margin: 0;
}

.hero {
  background-image: url(../midia/91181.jpg);
  background-size: cover;
  height: 600px;
  background-position: right center;
  padding-top: 1px;
}

.hero-content {
  margin: 50px auto 0;
  width: 80%;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-content h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin: auto;
  padding-top: 100px;
}

.hero-content p {
  background-color: #000000a6;
  display: inline-block;
  padding: 18px 10px;
  border-radius: 10px;
  border-bottom: 2px solid white;
}

.menu {
  text-align: right;
}

.menu ul {
  margin-right: 20px;
}

.menu li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}

.menu a {
  background-color: #818181;
  color: white;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: #474747;
  transition: 0.4s;
}

.art{
  background-color: white;
  margin: auto;
  width: 80%;
  margin-top: 20px;
  padding: 15px;
}
