body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 115, 179);
  color: white;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px black;
  /* linha debaixo do texto */
  text-decoration: underline;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px 4px rgb(66, 64, 64);
}

.vasco {
  text-align: right;
}

a {
  /* remove a linha abaixo do texto */
  text-decoration: none;
}
