body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* altera o espaçamento externo; posição */
  margin: 0;
  /* altera o espaçamento interno; tamanho */
  padding: 0;
}

h1,
h2 {
  padding: 16px;
}

h1,
h2 {
  background-color: black;
  border: 15px solid black;
  color: white;
}

a {
  background-color: black;
  border: 10px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
}
