body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

.upperbar{
    margin: 0;
}

.name{
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0;
}

.description{
    background-color: rgb(238, 238, 250);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
}

.photo{
    width: 30%;
}

.linkedin{
    width: 5%;
}

.shortcut{
    text-align: right;
}

a{
    padding: 15px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-decoration: none;
}

a:hover{
    color: aliceblue;
    background-color: black;
    transition: 0.5s;
    border-radius: 20px;
}

h2{
    border-bottom: 5px solid rgb(27, 26, 97);
    background-color: rgb(195, 199, 218);
    color: rgb(27, 26, 97);
    padding: 5px;
}