body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.back-img {
    background-image: url(https://wallpaperaccess.com/full/1555147.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    background-position: center;
    padding-bottom: 30%;
}

h1 {
    text-align: center;
    margin-top: 10%;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.buttom a{
    border: 2px solid red;
    text-align: ;
}