* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  margin-bottom: 30px;
}

body {
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.mid {
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
}

.forms {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

input {
  outline: none;
  margin: 2%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  display: flex;
  padding: 15%;
  padding-top: 20px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 75%;
}

.btn input {
  padding-inline: 40%;
}
