* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  padding: 20px;
}

body {
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.mid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
}

.forms {
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px 2px black;
}

input {
  outline: none;
  margin: 2%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid gray;
}

.btn {
  display: flex;
  padding: 15%;
  border: 1px solid rgb(17, 0, 255);
  padding-top: 5px;
}
