* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  /* border: 3px solid red; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(224, 224, 224);
}

.forms {
  background-color: white;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.493);
}

label {
  /* border: 3px solid rgb(38, 0, 255); */
  text-align: start;
  margin-inline: 20px;
}

input {
  /* border: 3px solid rgb(255, 0, 200); */
  padding: 8px;
  margin-inline: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

input:focus {
    outline: none;
    /* border-color: #2bc42b; */
    border: 2px solid #2bc42b;
}

.under {
  /* border: 3px solid rgb(0, 255, 64); */
  display: flex;
  /* margin-inline: 20px; */
}
